.idea/
*.iml
.vscode/
.DS_Store
.gradle/
.gradle-user-home/
build/
**/build/
.kotlin/
.externalNativeBuild/
.cxx/
local.properties
desktop.ini
/captures/
.claude/
.agent/
.roo/
*.apk
app/release/*
app/src/main/assets/plugins/*